/*====base wrapper and container===*/
.global-wrapper{
    position: relative;
    max-width: 1920px;
    min-width: 1020px;
    margin: 0 auto;
    overflow: hidden;
}
.wrapper{
    position: relative;
    max-width: 1920px;
    min-width: 960px;
    margin: 0 auto;
}
.global-wrapper .container{
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
}
.acl:after{
    content: '';
    display: block;
    clear: both;
    position: relative;
}
/*====end base wrapper and container===*/
//
/*====header=====*/
header .container{
    width: 960px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 50px 0;
}
.header_menu ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 -10px;
    padding: 0;
}
.header_menu ul li{
    list-style: none;
    margin: 0 8px;
}
.header_menu ul li:first-child{
    margin-left: 0px;
}
.header_menu ul li:last-child{
    margin-right: 0px;
}
.header_menu ul li a{
    color: #010101;
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(1, 1, 1);
    font-weight: 400;
    text-transform: uppercase;
    height: 36px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_menu ul li a>span{
    display: block;
    border-bottom: dotted 1px #010101;
    box-sizing: border-box;
    line-height: 1;
    letter-spacing: -0.1px;
}
.header_menu ul li a:hover{
  background-color: #185d95;
  border-radius: 20px;
  color: #ffffff;
}
.header_menu ul li a:hover>span{
    border: none;
}
header .form_button_wrap{
    margin-top: -15px;
}
header .form_button_wrap a{
    border-radius: 1px;
    background-color: #ff8f00;
    display: block;
    line-height: 36px;
    text-align: center;
    width: 178px;
    height: 36px;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    border-bottom: solid 2px #e48a1e;
}
header .form_button_wrap a:hover{
    background-color: #e67e06;
}
/*====end header=====*/
/*====dv1=====*/
.dv1{
    background-color: rgb(251, 251, 251);
    background-image: url(../images/dv1_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 663px;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .left_part{
            padding-top: 48px;
            .h1{
                color: #185d95;
                font-size: 65px;
                font-family: "Intro";
                color: rgb(24, 93, 149);
                font-weight: normal;
                line-height: 0.923;
                margin-left: -5px;
                h1{
                    font-size: 65px;
                    font-weight: normal;
                    margin: 0px;
                    padding: 0px;
                }
                span{
                    color: #ff8f00;
                }
            }
            .h2{
                font-size: 20px;
                font-family: "Roboto Condensed";
                color: rgb(33, 33, 33);
                line-height: 1;
                text-align: left;
                font-weight: normal;
                margin-top: -9px;
                letter-spacing: 0.54px;
                h2{
                    font-size: 20px;
                    font-family: "Roboto Condensed";
                    color: rgb(33, 33, 33);
                    line-height: 1;
                    text-align: left;
                    font-weight: normal;
                    margin: 0px;
                    padding: 0px;
                }
            }
            .description_block{
                padding: 50px 0 0 0;
                width: 325px;
                .title_description{
                    font-size: 30px;
                    font-family: "Roboto Condensed";
                    color: rgb(33, 33, 33);
                    text-transform: uppercase;
                    line-height: 1;
                    text-align: right;
                    letter-spacing: -0.15px;
                }
                .elements_description{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    padding: 22px 0 0 0;
                    ul{
                        padding: 0px;
                        margin: 0;
                        li{
                            list-style: none;
                            font-size: 25px;
                            font-family: "Roboto";
                            color: rgb(33, 33, 33);
                            line-height: 1;
                            text-align: left;
                            font-weight: 100;
                            letter-spacing: 0.2px;
                            margin: 0 0 15px 0;
                            position: relative;
                            &:before{
                                content: '';
                                display: block;
                                position: absolute;
                                background-image: url(../images/ok_dv1.png);
                                background-position: center center;
                                background-repeat: no-repeat;
                                width: 20px;
                                height: 20px;
                                left: -32px;
                                top: 3px;
                            }
                        }
                    }
                }
            }
        }
        .right_part{
            padding: 78px 0 0 0;
            .title_simptoms{
                font-size: 44px;
                font-family: "Roboto";
                color: rgb(24, 93, 149);
                line-height: 0.951;
                font-weight: 300;
                color: #424242;
                line-height: 0.9;
                span{
                    color: #185d95;
                    letter-spacing: -0.4px;
                    font-size: 41px;
                }
            }
            .elements_simptoms{
                padding: 15px 0 0 0;
                ul{
                    padding: 0 0 0 30px;
                    margin: 0;
                    li{
                        position: relative;
                        list-style: none;
                        font-size: 20px;
                        font-family: "Roboto Condensed";
                        color: rgb(0, 0, 0);
                        line-height: 1;
                        font-weight: 300;
                        letter-spacing: -0.3px;
                        margin-bottom: 14px;
                        text-align: left;
                        &:before{
                            content: '';
                            position: absolute;
                            display: block;
                            left: -26px;
                            top: 0px;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-image: url(../images/not_dv1.png);
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }
}

/*===end dv1==*/