<div class="wrapper dv4" id="dv4">
    <div class="container">
        <div class="sub-title" data-aos="zoom-in-up">
            <h2>Термопластырь <span>Femi<i>Plast</i></span> <br> действует как грелка </h2>
        </div>
        <div class="dv4-items">
            <div class="item" data-aos="zoom-out" data-aos-delay="300">
                <div class="item-galka"></div>
                <div class="item-text"> <span>Согревает живот</span> </div>
            </div>
            <div class="item" data-aos="zoom-out" data-aos-delay="600">
                <div class="item-galka"></div>
                <div class="item-text"><span>Успокаивает боль</span></div>
            </div>
            <div class="item" data-aos="zoom-out" data-aos-delay="900">
                <div class="item-galka"></div>
                <div class="item-text"><span>Снимает спазм</span></div>
            </div>
        </div>
    </div>
</div>