<div class="wrapper dv3">
    <div class="container">
        <div class="sub-title">
            <h2><b>Шкала боли</b><br>Оцени свою боль по шкале</h2>
        </div>
        <div class="pain-table">
            <div class="item">
                <div class="item-minipop">
                    <img src="images/pain-img-1.png" alt="">
                    <p>Femiplast в первый и второй день цикла</p>
                </div>
                <div class="item-img"><img src="images/pain-img-1.png" alt=""></div>
                <div class="item-text"><span>Не очень<br>больно </span></div>
            </div>
            <div class="item">
                <div class="item-minipop">
                    <img src="images/pain-img-2.png" alt="">
                    <p>Femiplast в первый, второй и третий день цикла</p>
                </div>
                <div class="item-img shake-little"><img src="images/pain-img-2.png" alt=""></div>
                <div class="item-text"><span>Терпимо</span></div>
            </div>
            <div class="item">
                <div class="item-minipop">
                    <img src="images/pain-img-3.png" alt="">
                    <p>Femiplast  за 3 дня до начала цикла по 1 пластырю в день, а также в первый и второй день цикла</p>
                </div>
                <div class="item-img shake"><img src="images/pain-img-3.png" alt=""></div>
                <div class="item-text"><span>Больно</span></div>
            </div>
            <div class="item">
                <div class="item-minipop">
                    <img src="images/pain-img-4.png" alt="">
                    <p>Femiplast  за 5 дней до начала цикла по 1 пластырю, а также с первого по пятый день цикла</p>
                </div>
                <div class="item-img shake-hard"><img src="images/pain-img-4.png" alt=""></div>
                <div class="item-text"><span>Сильно<br>болит</span></div>
            </div>
            <div class="item">
                <div class="item-minipop">
                    <img src="images/pain-img-5.png" alt="">
                    <p><span>Обратитесь к врачу</span></p>
                </div>
                <div class="item-img shake-crazy"><img src="images/pain-img-5.png" alt=""></div>
                <div class="item-text"><span>Ужасно больно<br>умираю</span></div>
            </div>
        </div>
    </div>
</div>