<div class="wrapper dv8">
    <div class="container">
        <div class="contein-like">
            <div class="item">
                <div class="con">
                    <img src="images/hand-like.png" alt="">
                </div>
                <div class="opis">Абсолютно незаметен – 100% эффективен </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/hand-like.png" alt="">
                </div>
                <div class="opis">Без запаха  </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/hand-like.png" alt="">
                </div>
                <div class="opis"> Легко приклеивается и легко снимается </div>
            </div>
        </div>
        <div class="aftertext">
            <h3>
                Уникальная технология оптимального распространения тепла – <span>6 часов тепла.</span>
            </h3>
        </div>
    </div>
</div>