<div class="wrapper dv5">
    <div class="container">
        <div class="item-right">
            <div class="sub-title" data-aos="fade-down-left">
                <h2>Инновационная<br>нано технология</h2>
            </div>
            <div class="proffesors-items" data-aos="fade-left" >
                <div class="item">
                    <div class="item-img"><img src="images/proffesr-1.png" alt=""></div>
                    <div class="item-text"><p>Разработана российскими учёными </p></div>
                </div>
                <div class="item">
                    <div class="item-img"><img src="images/proffesr-2.png" alt=""></div>
                    <div class="item-text"><p>Одобрена гинекологами России  </p></div>
                </div>
            </div>
            <div class="bottom-text" data-aos="fade-up-left" >
                <p>Тепло воздействует на организм и расширяет кровеносные сосуды. Это приводит к многократному усилению притока крови. Кровь начинает активно питать ткани кислородом и интенсивно вымывать продукты жизнедеятельности. Это устраняет боль и способствует релаксации мышц. Спазм снимается, нормальный тонус мышц восстанавливается. </p>
            </div>
        </div>
    </div>
</div>