<div class="wrapper dv7">
    <div class="container">
        <div class="top-part">
            <div class="title" data-aos="flip-left">
                <h2>Как это работает:</h2>
            </div>
            <div class="row-items">
                <div class="item" data-aos="flip-up" data-aos-delay="200" data-aos-duration="1000">
                    <div class="top-img"></div>
                    <div class="descript">Инновационное активное вещество - <b>минеральный порошок «Purge» </b> - начинает действовать при соприкосновении пластыря с воздухом. </div>
                </div>
                <div class="item" data-aos="flip-up" data-aos-delay="400" data-aos-duration="1000">
                    <div class="top-img"></div>
                    <div class="descript">Температура нагрева в <b>500 достигается за 20 минут.</b> </div>
                </div>
                <div class="item" data-aos="flip-up" data-aos-delay="600" data-aos-duration="1000">
                    <div class="top-img"></div>
                    <div class="descript">Уникальная технология оптимального распространения тепла <b>гарантирует 6 часов действия.</b> </div>
                </div>
            </div>
        </div>
        <div class="bottom-part">
            <div class="tip-titl">
                <h2>Три простых действия: </h2>
            </div>
            <div class="items-row cfix">
                <div class="item">
                    <div class="con">
                        <img src="images/x-rase.png" alt="">
                    </div>
                    <div class="desript"> Удалить защитную полоску </div>
                </div>
                <div class="item">
                    <div class="con">                        
                        <img src="images/trus.png" alt="">
                    </div>
                    <div class="desript"> Приклеить на белье в области дискомфорта  </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/fas.png" alt="">
                    </div>
                    <div class="desript"> Забыть о боли </div>
                </div>
            </div>
            <div class="last-cheat">
                <div class="bod">
                    <img src="images/female-body.png" alt="">
                </div>
                <div class="tip">ВАЖНО!</div>
                <div class="after">Не приклеивать  пластырь на кожу </div>
            </div>
        </div>
    </div>
</div>