<div class="wrapper dv2">
    <div class="container dv2-1">
        <div class="sub-title " data-aos="fade-up">
            <h2>Испытываешь боль <br>при менструации?</h2>
        </div>
        <div class="sub-title-red"  data-aos="fade-down">
            <b>Хватит терпеть! </b>
        </div>
        <div class="items-cub">
            <div class="item" data-aos="zoom-in"><i>Последствия могут быть плачевными:</i></div>
            <div class="item item-1" data-aos="zoom-in">
                <div class="item-img"><img src="images/items-cub-1.png" alt=""></div>
                <div class="item-title"><b>Бессоница</b></div>
                <div class="item-subtitle"><span>испытываете полный упадок сил </span></div>
            </div>
            <div class="item item-2" data-aos="zoom-in">
                <div class="item-img"><img src="images/items-cub-2.png" alt=""></div>
                <div class="item-title"><b>Депрессия</b></div>
                <div class="item-subtitle"><span>теряете работу и не можете сосредоточиться </span></div>
            </div>
            <div class="item item-3" data-aos="zoom-in">
                <div class="item-img"><img src="images/items-cub-3.png" alt=""></div>
                <div class="item-title"><b>Раздражительность</b></div>
                <div class="item-subtitle"><span>находитесь на грани нервного срыва </span></div>
            </div>
            <div class="item item-4" data-aos="zoom-in">
                <div class="item-img"><img src="images/items-cub-4.png" alt=""></div>
                <div class="item-title"><b>Одиночество</b></div>
                <div class="item-subtitle"><span>не осталось друзей и любимых </span></div>
            </div>
            <div class="item item-5" data-aos="zoom-in">
                <div class="item-img"><img src="images/items-cub-5.png" alt=""></div>
                <div class="item-title"><b>Бесплодие</b></div>
                <div class="item-subtitle"><span>не способны забеременеть и выносить ребенка </span></div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper dv2-2">
    <div class="container ">
        <div class="sub-title" data-aos="zoom-in-up">
            <h2>Как снять боль</h2>
        </div>
    </div>
    <div class="dv2-2-table">
        <div class="row" data-aos="zoom-in-up">
            <div class="container ">
                <div class="cell"></div>
                <div class="cell"><span>Быстро</span></div>
                <div class="cell"><span>Эффективно</span></div>
                <div class="cell"><span>Надолго</span></div>
            </div>
        </div>
        <div class="row" data-aos="zoom-in-up">
            <div class="container ">
                <div class="cell"><span>Лед</span></div>
                <div class="cell"><span class="plus"></span></div>
                <div class="cell"><span class="minus"></span></div>
                <div class="cell"><span class="minus"></span></div>
            </div>
        </div>
        <div class="row" data-aos="zoom-in-up">
            <div class="container ">
                <div class="cell"><span>Таблетки</span></div>
                <div class="cell"><span class="minus"></span></div>
                <div class="cell"><span class="plus"></span></div>
                <div class="cell"><span class="minus"></span></div>
            </div>
        </div>
        <div class="row" data-aos="zoom-in-up">
            <div class="container ">
                <div class="cell"><span class="tabl-logo">Femi<i>Plast</i></span></div>
                <div class="cell"><span class="plus"></span></div>
                <div class="cell"><span class="plus"></span></div>
                <div class="cell"><span class="plus"></span></div>
            </div>
        </div>
    </div>

</div>
