<div class="wrapepr dv10">
    <div class="container">
        <div class="mbox">
            <div class="title-text" data-aos="zoom-in-up">
                <h2>Отзывы</h2>
            </div>
            <div class="slid-convert" data-aos="zoom-in-up">
                <div class="slider-content">
                    <div class="item">
                         <div class="ic">
                             <div class="right-side">
                                <div class="con">
                                    <img src="images/katya.png" alt="">
                                </div>
                            </div>
                            <div class="left-side">
                                <p> 1 «Жду месячных все время с ужасом: раньше пропускала школу, год назад из-за боли чуть ЕГЭ не завалила. Я всегда таблетки пила, и – пожалуйста, - заработала гастрит. В итоге мама отвела меня к гинекологу, а та рассказала про Femiplast. Теперь только начинает тянуть, сразу приклеиваю – и свободна. Могу делать, что хочу! А гастрит я вылечила. Хорошо, что с Femiplast не надо травить себя химией» </p>
                                <b>Катя, 18 лет</b>
                            </div>
                         </div>
                    </div>
                    <div class="item">
                         <div class="ic">
                             <div class="right-side">
                                <div class="con">
                                    <img src="images/katya.png" alt="">
                                </div>
                            </div>
                            <div class="left-side">
                                <p> 1 «Жду месячных все время с ужасом: раньше пропускала школу, год назад из-за боли чуть ЕГЭ не завалила. Я всегда таблетки пила, и – пожалуйста, - заработала гастрит. В итоге мама отвела меня к гинекологу, а та рассказала про Femiplast. Теперь только начинает тянуть, сразу приклеиваю – и свободна. Могу делать, что хочу! А гастрит я вылечила. Хорошо, что с Femiplast не надо травить себя химией» </p>
                                <b>Катя, 18 лет</b>
                            </div>
                         </div>
                    </div>
                    <div class="item">
                         <div class="ic">
                             <div class="right-side">
                                <div class="con">
                                    <img src="images/katya.png" alt="">
                                </div>
                            </div>
                            <div class="left-side">
                                <p> 1 «Жду месячных все время с ужасом: раньше пропускала школу, год назад из-за боли чуть ЕГЭ не завалила. Я всегда таблетки пила, и – пожалуйста, - заработала гастрит. В итоге мама отвела меня к гинекологу, а та рассказала про Femiplast. Теперь только начинает тянуть, сразу приклеиваю – и свободна. Могу делать, что хочу! А гастрит я вылечила. Хорошо, что с Femiplast не надо травить себя химией» </p>
                                <b>Катя, 18 лет</b>
                            </div>
                         </div>
                    </div>
                    <div class="item">
                         <div class="ic">
                             <div class="right-side">
                                <div class="con">
                                    <img src="images/katya.png" alt="">
                                </div>
                            </div>
                            <div class="left-side">
                                <p> 1 «Жду месячных все время с ужасом: раньше пропускала школу, год назад из-за боли чуть ЕГЭ не завалила. Я всегда таблетки пила, и – пожалуйста, - заработала гастрит. В итоге мама отвела меня к гинекологу, а та рассказала про Femiplast. Теперь только начинает тянуть, сразу приклеиваю – и свободна. Могу делать, что хочу! А гастрит я вылечила. Хорошо, что с Femiplast не надо травить себя химией» </p>
                                <b>Катя, 18 лет</b>
                            </div>
                         </div>
                    </div>
                    <div class="item">
                         <div class="ic">
                             <div class="right-side">
                                <div class="con">
                                    <img src="images/katya.png" alt="">
                                </div>
                            </div>
                            <div class="left-side">
                                <p> 1 «Жду месячных все время с ужасом: раньше пропускала школу, год назад из-за боли чуть ЕГЭ не завалила. Я всегда таблетки пила, и – пожалуйста, - заработала гастрит. В итоге мама отвела меня к гинекологу, а та рассказала про Femiplast. Теперь только начинает тянуть, сразу приклеиваю – и свободна. Могу делать, что хочу! А гастрит я вылечила. Хорошо, что с Femiplast не надо травить себя химией» </p>
                                <b>Катя, 18 лет</b>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>