<div class="wrapepr dv4">
    <div class="container">
        <div class="sub-title">
            <h2>Термопластырь <span>Femi<i>Plast</i></span> <br> действует как грелка </h2>
        </div>
        <div class="dv4-items">
            <div class="item">
                <div class="item-galka"></div>
                <div class="item-text"> <span>Согревает живот</span> </div>
            </div>
            <div class="item">
                <div class="item-galka"></div>
                <div class="item-text"><span>Успокаивает боль</span></div>
            </div>
            <div class="item">
                <div class="item-galka"></div>
                <div class="item-text"><span>Снимает спазм</span></div>
            </div>
        </div>
    </div>
</div>