<div class="wrapper dv9">
    <div class="container">
        <div class="mbox">
            <div class="title-text" data-aos="zoom-in-up">
                <h2>Мнение эксперта</h2>
            </div>
            <div class="contein" data-aos="zoom-in-up">
                <div class="item" data-aos="zoom-in-left">
                    <div class="faceman">
                        <div class="con">
                            <img src="images/profesor.png" alt="">
                        </div>
                    </div>
                    <div class="texter">
                        <div class="expert-titl">Высоцкий А.В.</div>
                        <div class="proff">доктор медицинских наук, профессор </div>
                        <div class="simple-words">
                            <p>«Лечение теплом, или термотерапия, является эффективным средством при лечении огромного числа заболеваний. Я всегда рекомендую своим пациентка при менструальной боли использовать сухое тепло. Это также эффективно и при остром цистите, кальпите, аднексите, эндометрите и ряде других гинекологических заболеваний. Последние тесты в НИИ гинекологии подтвердили эффективность термопластыря Femiplast в качестве метода сухого тепла. Он экологичен, прост в применении и безопасен». </p>
                        </div>
                    </div>
                </div>
                <div class="item" data-aos="zoom-in-right">
                    <div class="faceman">
                        <div class="con">
                            <img src="images/profesor.png" alt="">
                        </div>
                    </div>
                    <div class="texter">
                        <div class="expert-titl">Любимов Ф.П.</div>
                        <div class="proff">доктор химических наук, НИИ  </div>
                        <div class="simple-words">
                            <p>«Наша лаборатория вела разработки более 5 лет, пока не получила президентский грант Фонда Сколково. Мы использовали разные химические составы пока не добились лучшего результата: состав распространяет тепло, но не вызывает ожога. Железный порошок, активированный угол и – наша уникальная запатентованная разработка - минеральный порошок «Purge» вступают в реакцию, начинают быстро нагреваться, а вермосулит – которыйиспользуют для теплоизоляции в авиации - не позволяет реакции выйти из-под контроля. При том, что все это – натуральные, нетоксичные компоненты».  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>