<div class="wrapper dv1">
    <div class="container">
        <div class="left_part">
            <div class="title_block">
                <div class="h1">
                    <h1>FEMI<span>PLAST</span></h1>
                </div>
                <div class="h2">
                    <h2>Термопластырь от менструальной боли</h2>
                </div>
            </div>
            <div class="description_block">
                <div class="title_description">Тройное действие:</div>
                <div class="elements_description">
                    <ul>
                        <li>
                            Снимает спазм
                        </li>
                        <li>
                            Обезболивает
                        </li>
                        <li>
                            Согревает
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right_part">
            <div class="title_simptoms">
                <span>Забудь о боли</span><br>
                и симптомах
            </div>
            <div class="elements_simptoms">
                <ul>
                    <li>
                        Каждый месяц адская боль
                    </li>
                    <li>
                        Жизнь останавливается
                    </li>
                    <li>
                        Лезешь на стену
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
