<!-- FOOTER -->
<footer class="wrapper footer">
    <div class="container">
        <div class="mbox">
            <div class="cont">
                <a href="#" class="logo">
                    <div class="till">FEMIPLAST</div>
                    <div class="fill">Термопластырь от менструальной боли </div>
                </a>
            </div>
            <div class="end-block">
                <div class="text">
                    <b>Остались вопросы?</b>
                    <span>Закажите обратный звонок</span>
                </div>
                <div class="butt">
                    <a href="#call-popup" class="button fancybox-form">
                        <span>Заказать звонок</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->


