<div class="wrapper dv_form">
    <div class="container">
        <div class="mbox cfix">
            <div class="con-img">
                <div class="box">
                    <img src="images/dv-rt.png" alt="">
                </div>
                <div class="circle">
                    <div class="old">1690 <span>руб.</span></div>
                    <div class="new">990<span>руб.</span></div>
                </div>
            </div>
            
            <div class="form">
                <form action="ajax.php" name="" class="contact-form-close-timer">
                    <div class="contact-form-title">
                        <h5>Заполни форму <br/> и перестань терпеть боль </h5>
                    </div>
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="tel" name="contact_tel" value="" required="required" placeholder="Ваш телефон" class="tel-mask">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-row-submit cfix">
                        <div class="contact-form-item">
                            <button type="submit" class="contact-submit">
                                <span>Заказать</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tic">
                <div class="title">Закажи сейчас  по супер цене!</div>
                <div class="sub">FEMIPLAST - термопластырь  от менструальной боли по супер цене.</div>
                <div class="timer cfix">
                    <div class="time days">
                        <div class="topest">103</div>
                        <div class="descript">дней</div>
                    </div>
                    <div class="time hours">
                        <div class="topest">03</div>
                        <div class="descript">часов</div>
                    </div>
                    <div class="time mins">
                        <div class="topest">03</div>
                        <div class="descript">минут</div>
                    </div>
                    <div class="time seconds">
                        <div class="topest">03</div>
                        <div class="descript">секунд</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>