<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>femiplast</title>
    <style>
        body{transition: all ease-out .3s;opacity: 0;}
        body.show{opacity: 1;}
    </style>
    <!--[if lt IE 10]>
    <link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" />
    <script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
        if(screen.width>640){
            document.write('<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />')
        }
        else{
            document.write('<meta name="viewport" content="width=640, user-scalable=false />')
        }
    </script>

    <meta name="format-detection" content="telephone=no">
    <script>
        document.cookie = "userName=Vasya"
    </script>
</head>
<body>