<!-- HEADER -->
<header class="wrapper">
    <div class="container">
        <div class="header_menu">
            <ul>
                <li>
                    <a href="#dv4"><span>О товаре</span></a>
                </li>
                <li>
                    <a href="#"><span>Гарантии</span></a>
                </li>
                <li>
                    <a href="#"><span>Оплати и доставка</span></a>
                </li>
                <li>
                    <a href="#dv10"><span>Отзывы</span></a>
                </li>
            </ul>
        </div>
        <div class="form_button_wrap">
            <a href="#call-popup" class="fancybox-form">Заказать звонок</a>
        </div>
    </div>
</header>
<!-- /HEADER -->

