<!-- HEADER -->
<div class="wrapper">
    <header class="container">
        <div class="header_menu">
            <ul>
                <li>
                    <a href="#">О товаре</a>
                </li>
                <li>
                    <a href="#">Гарантии</a>
                </li>
                <li>
                    <a href="#">Оплати и доставка</a>
                </li>
                <li>
                    <a href="#">Отзывы</a>
                </li>
            </ul>
        </div>
        <div class="form_button_wrap">
            <a href="#">Заказать звонок</a>
        </div>
    </header>
</div>
<!-- /HEADER -->

